<?xml version="1.0" encoding="utf-8"?>
<settings>

<componentSettings>
<areaWidth>800</areaWidth>
<areaHeight>135</areaHeight>
<hAlign>left</hAlign>
<vAlign>center</vAlign>
<vOffset>0</vOffset>
<initialScrollPosition>0</initialScrollPosition>
<distanceBetweenItems>20</distanceBetweenItems>
<paddingOnMovement>25,25</paddingOnMovement>
<extraHoverZoneHeight>10</extraHoverZoneHeight>
<deadZone>20</deadZone> <!-- percentage -->
<maxMovementSpeed>80</maxMovementSpeed>
<activeAfterItemsLoaded>6</activeAfterItemsLoaded> 
<delayAfterMouseOut>4</delayAfterMouseOut> 
</componentSettings>

<backgroundSettings>
<type>none</type>
<param>0xffffff</param>
<backgroundScaleType>original</backgroundScaleType>
</backgroundSettings>

<itemsSettings>
<defaultZoom>100</defaultZoom>
<fixedItemWidth>75</fixedItemWidth>
<fixedItemHeight>105</fixedItemHeight>
<selectItemOnClick>off</selectItemOnClick>
<stopMovingOnHover>on</stopMovingOnHover>
<swapDepthOnHover>on</swapDepthOnHover>
<useGlowOnHover>off,off,off,2,20</useGlowOnHover>
<normalStrokeSize>1</normalStrokeSize>
<normalStrokeColor>0xcccccc</normalStrokeColor>
<normalStrokeAlpha>100</normalStrokeAlpha>
<mouseOverStrokeSize>2</mouseOverStrokeSize>
<mouseOverStrokeColor>0x7DC01B</mouseOverStrokeColor>
<mouseOverStrokeAlpha>100</mouseOverStrokeAlpha>
<selectedStrokeSize>2</selectedStrokeSize>
<selectedStrokeColor>0x7DC01B</selectedStrokeColor>
<selectedStrokeAlpha>100</selectedStrokeAlpha>
<loaderColor>0x7DC01B</loaderColor>
<loaderScale>90</loaderScale>
<loaderAlpha>30</loaderAlpha>
<loaderRotationSpeed>3</loaderRotationSpeed>
</itemsSettings>

<reflectionSettings>
<enableReflections>on</enableReflections>
<reflectionDistance>0</reflectionDistance>
<reflectionAlpha>60</reflectionAlpha>
<reflectionHeight>50</reflectionHeight>
<reflectionBlur>off,0,5,2</reflectionBlur>
<topAlpha>100</topAlpha>
<bottomAlpha>0</bottomAlpha>
<gradientSize>50</gradientSize>
<gradientBalance>40</gradientBalance>
<gradientAngle>90</gradientAngle>
</reflectionSettings>

<tooltipSettings>
<showType>visibleByMouse</showType>
<tooltipScale>off</tooltipScale>
<cornerRadius>6</cornerRadius>
<vPosition>top</vPosition>
<vAligment>top</vAligment>
<hPosition>center</hPosition>
<hAligment>center</hAligment>
<tooltipTextPadding>5,5,5,3</tooltipTextPadding>
<yOffset>100</yOffset>
<xOffset>0</xOffset>
<defaultTextColour>0xffffff</defaultTextColour>
<defaultTextSize>12</defaultTextSize>
<defaultTextAlign>left</defaultTextAlign>
<topBgColour>0xffffff</topBgColour>
<bottomBgColour>0xcccccc</bottomBgColour>
<gradientBalance>50</gradientBalance>
<backgroundAlpha>95</backgroundAlpha>
<strokeSize>1</strokeSize>
<strokeColor>0xcccccc</strokeColor>
<strokeAlpha>100</strokeAlpha>
<effects></effects>
</tooltipSettings>

<mouseOverSettings>
<animationTime>0.2</animationTime>
<animationType>Regular,easeOut</animationType>
<effectsOnHover>scale:110,110;brighten:10;desaturate:0</effectsOnHover>
<effectOnOtherItems>scale:100,100;brighten:0;desaturate:100</effectOnOtherItems>
</mouseOverSettings>

<autoPlaySettings>
<enableAutoPlay>on</enableAutoPlay>
<autoPlaySpeed>2</autoPlaySpeed>
<endAction>changeDirection</endAction>
<endActionAnimationType>Regular,easeOut</endActionAnimationType>
<endActionAnimationTime>5</endActionAnimationTime>
<endActionAnimationTimeWait>50</endActionAnimationTimeWait>
</autoPlaySettings>


<scrollUsingSlider>
<enableSlider>off</enableSlider>
<aligment>center,bottom</aligment>
<positionOffset>0,-15</positionOffset>
<tapOffsetX>5</tapOffsetX>
<scrollAnimationType>Back,easeOut</scrollAnimationType>
<scrollAnimationTime>0.5</scrollAnimationTime>
<arrowsAnimationPower>150</arrowsAnimationPower>
<mouseWheel>on</mouseWheel>
<mouseWheelDirection>-1</mouseWheelDirection>
</scrollUsingSlider>


</settings>